$bgColor: rgb(228, 226, 226);
$borderColor: rgb(192, 192, 192);

%displayFlex {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: $bgColor;
}
.App {
  @extend %displayFlex;
}

.main-items, .aside-checkout {
  background-color: white;
}

.main-items {
  width: 70%;
  background-color: $bgColor;
  .seller-item {
    margin: 20px;
    background-color: white;
    border: 1px solid $borderColor;
    padding: 10px;
    align-items: center;
    align-self: center;
    text-align: center;
    div {
      padding: 10px;
    }
    .seller-info {
      @extend %displayFlex;
      border-bottom: 1px solid lightgrey;
    }
    .seller-middle {
      @extend %displayFlex;
      align-items: center;
    }
    .seller-bottom {
      display: flex;
      justify-content: flex-end;
      div {
        margin: 10px;
      }
    }
  }
}


.aside-checkout {
  width: 30%;
  height: 250px;
  border: 1px solid $borderColor;
  padding: 10px;
  margin: 20px;
  div {
    padding: 10px 0;
  }
  .checkout-button {
    width: 100%;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px;
  }
  .checkout-info {
    border-bottom: 1px solid lightgrey;
    div {
      @extend %displayFlex;
    }
  }
  .total-price {
    @extend %displayFlex
  }
}

